/* montserrat-regular - latin */
@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/montserrat-v23-latin-regular.woff2") format("woff2"),
    url("../fonts/montserrat-v23-latin-regular.woff") format("woff"),
    url("../fonts/montserrat-v23-latin-regular.ttf") format("truetype");
}
/* noto-sans-regular - latin */
@font-face {
  font-family: "Noto Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/noto-sans-v25-latin-regular.woff2") format("woff2"),
    url("../fonts/noto-sans-v25-latin-regular.woff") format("woff"),
    url("../fonts/noto-sans-v25-latin-regular.ttf") format("truetype");
}
/* rubik-regular - latin */
@font-face {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/rubik-v18-latin-regular.woff2") format("woff2"),
    url("../fonts/rubik-v18-latin-regular.woff") format("woff"),
    url("../fonts/rubik-v18-latin-regular.ttf") format("truetype");
}
/* rubik-500 - latin */
@font-face {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 500;
  src: url("../fonts/rubik-v18-latin-500.woff2") format("woff2"),
    url("../fonts/rubik-v18-latin-500.woff") format("woff"),
    url("../fonts/rubik-v18-latin-500.ttf") format("truetype");
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
}

img {
  max-width: 100%;
  height: auto;
  vertical-align: middle;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  clip: rect(0 0 0 0);
}
.container {
  max-width: 1320px;
  margin: 0 auto;
  padding: 0 20px;
}

/*  LOGIN PAGE  */
.login_main {
  width: 100vw;
  height: 100vh;
  background: url("../images/Login.jpg");
  background-size: cover;
}
.login_container {
  padding: 198px 490px 0;
}
.login_form {
  position: relative;
  width: 300px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
.error {
  position: absolute;
  top: -90px;
  left: 0;
  font-size: 20px;
  color: red;
  text-align: center;
}
.bookshelter_logo {
  width: 100%;
  text-align: center;
}
.bookshelter_img {
  margin-bottom: 50px;
}
.username_input,
.userPassword_input {
  width: 100%;
  padding: 13px 50px;
  margin-bottom: 20px;
  border: 1px solid #ffffff;
  border-radius: 4px;
  font-family: "Montserrat";
  font-weight: 300;
  font-size: 14px;
  line-height: 20px;
  text-transform: uppercase;
  background-color: transparent;
  color: #ffffff;
  outline: none;
}
.userPassword_input {
  margin-bottom: 45px;
}
.user_logo {
  position: absolute;
  top: 105px;
  left: 10px;
}
.user_logo::before {
  content: url("../images/userIcon.svg");
}
.lock_logo {
  position: absolute;
  top: 175px;
  left: 10px;
}
.lock_logo::before {
  content: url("../images/lockIcon.svg");
}
.login_btn {
  background: #ffffff;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.3);
  border-radius: 4px;
  padding: 13px 123px;
  margin-bottom: 11px;
  font-family: "Montserrat";
  font-weight: 600;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  text-transform: uppercase;
  color: #0d75ff;
}
.login_btn:hover {
  background-color: yellow;
}
.forgot_password {
  margin: 0;
  font-family: "Montserrat";
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  color: #ffffff;
  text-decoration: none;
}

/*  HOME PAGE  */
