/* montserrat-regular - latin */
@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/montserrat-v23-latin-regular.woff2") format("woff2"),
    url("../fonts/montserrat-v23-latin-regular.woff") format("woff"),
    url("../fonts/montserrat-v23-latin-regular.ttf") format("truetype");
}
/* noto-sans-regular - latin */
@font-face {
  font-family: "Noto Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/noto-sans-v25-latin-regular.woff2") format("woff2"),
    url("../fonts/noto-sans-v25-latin-regular.woff") format("woff"),
    url("../fonts/noto-sans-v25-latin-regular.ttf") format("truetype");
}
/* rubik-regular - latin */
@font-face {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/rubik-v18-latin-regular.woff2") format("woff2"),
    url("../fonts/rubik-v18-latin-regular.woff") format("woff"),
    url("../fonts/rubik-v18-latin-regular.ttf") format("truetype");
}
/* rubik-500 - latin */
@font-face {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 500;
  src: url("../fonts/rubik-v18-latin-500.woff2") format("woff2"),
    url("../fonts/rubik-v18-latin-500.woff") format("woff"),
    url("../fonts/rubik-v18-latin-500.ttf") format("truetype");
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
}

img {
  max-width: 100%;
  height: auto;
  vertical-align: middle;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  clip: rect(0 0 0 0);
}
.container {
  max-width: 1320px;
  margin: 0 auto;
  padding: 0 20px;
}
